<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{title}}</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@1.0.2/css/bulma.min.css">
    <link rel="stylesheet" href="../public/css/style.css">
      <script src="../public/js/scriptloka.js"></script>
  </head>
  <body>
  
  <!-- Navbar -->
  <nav class="navbar" role="navigation" aria-label="main navigation">
    <!-- logo/brand -->
    <div class="navbar-brand">
      <a class="navbar-item" href="{{logoLink}}">
        <img src="{{logoSrc}}" alt="{{logoAlt}}" style="max-height: 70px" class="py-2 px-2">
      </a>

      <!-- Burger menu -->
      <a class="navbar-burger" id="burger">
        <span></span>
        <span></span>
        <span></span>
      </a>
    </div> 

    <!-- Navbar menu -->
    <div id="navbarBasicExample" class="navbar-menu">
      <div class="navbar-start">
        {{#each navbarItems}}
          <a href="{{this.href}}" class="navbar-item">{{this.name}}</a>
        {{/each}}
      </div>
    </div>

    <div class="navbar-end">
      <div class="navbar-item">
        <div class="buttons">
          <a class="button is-light"><strong>Sign up</strong></a>
          <a class="button is-light">Log in</a>
        </div>
      </div>
    </div>
  </nav>

  <!-- Main content -->
  <section class="section">
    <div class="container">
      <h1 class="title">{{mainTitle}}</h1>
      <p class="subtitle">{{subtitle}}</p>
    </div>
  </section>

  </body>
</html>









{{!-- <h1 class="title">Welcome to LOKA</h1>
<!-- Loop over blogs -->
{{#each blogs}}
  <div class="box mb-4">
    <h2>
      {{{get_emoji}}}
      <a href="/blog/{{this.id}}">{{this.title}}</a>
    </h2>
    <p>By {{this.user.name}} on {{format_date this.date_created}}</p>
    <p>{{this.content}}</p>
  </div>
{{/each}}










{{!-- <!-- Loop over each object in the blog array -->
{{#each blogs as |blog| }}
<div class="row mb-4 blog">
  <div class="col-md-5">
    <h2>
      <!-- Call helper function with triple brackets to render the emoji span as HTML -->
      {{{get_emoji}}}
      <a href="/blog/{{blog.id}}">{{blog.title}}</a>
    </h2>

    <p>Created by {{blog.user.name}} on {{format_date blog.date_created}}</p>
  </div>
  <div class="col-md-7">
    <p>
      {{blog.content}}
    </p>
  </div>
</div>
{{/each}} --}} --}}
